<div id="<%= dom_id menu %>">
  <p>
    <strong>Item:</strong>
    <%= menu.item %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= menu.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= menu.price %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= menu.available %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= menu.owner_id %>
  </p>

</div>
