<h1 class="text-center text-burgundy">Base Menus</h1>
<hr class="menu-divider">

<%= link_to "Create New Base Menu", new_owner_base_menu_path(@owner), class: "btn btn-primary mb-3" %>

<div class="row">
  <% @base_menus.each do |base_menu| %>
    <div class="col-md-4">
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <h5 class="card-title text-burgundy"><%= base_menu.title %></h5>
          <p class="card-text"><%= base_menu.description %></p>
          <hr>
          <div class="d-flex justify-content-between">
            <%= link_to "View", owner_base_menu_path(@owner, base_menu), class: "btn btn-sm btn-outline-primary" %>
            <%= link_to "Edit", edit_owner_base_menu_path(@owner, base_menu), class: "btn btn-sm btn-outline-secondary" %>
            <%= button_to "Delete", owner_base_menu_path(@owner, base_menu), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-outline-danger" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>